# abs  | removes - or + symbol

In [4]:
print(abs(+1))#
print(abs(-12))

1
12

# ascii | returns a readable version of any object å will be replaced with \xe5.

In [5]:
print(ascii("aa å  "))

'aa \xe5  '

# delattr | Delete the "age" property from the "person" object:

In [6]:
class Person:
  name = "John"
  age = 36
  country = "Norway"

delattr(Person, 'age')

In [20]:
x = ['a','b','c']

print(list(enumerate(x)))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [27]:
# eval | unction evaluates the specified expression, if the expression is a legal Python statement, it will be executed.

z = 'print("100")'
eval(z)


k ='print(f)'
eval(k)

100

NameError: name 'f' is not defined

# filter | Filter the array, and return a new array with only the values equal to or above 18:

In [30]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages) # this wil automatically call all age groups to def and write things in adults

print(list(adults))

[18, 24, 32]

# # iter | The iter() function returns an iterator object.

In [34]:
arr =['a','b','c']

x= iter(arr)
print(next(x))
print(next(x))
print(next(x))

a
b
c

# map | executes a specified function for each item in an iterable.

In [40]:
def length(a):
    return (len(a))

x= map(length, ('apple', 'banana', 'cherry'))

print(list(x))

[5, 6, 6]

#  reversed() function returns a reversed iterator object.

In [42]:
print(list(reversed(["a", "b", "c", "d"])))

['d', 'c', 'b', 'a']

# slice function returns a slice object.

In [52]:
a = ("a", "b", "k", "d", "e", "f", "g", "h")
# slice(start, end, step)
print(a[slice(2)])
print(a[slice(0,4)])
print(a[slice(0,6,2)])

('a', 'b')
('a', 'b', 'k', 'd')
('a', 'k', 'e')

# sorted

In [53]:
print(sorted(a))

['a', 'b', 'd', 'e', 'f', 'g', 'h', 'k']