# capitalize

In [24]:
str = "apple bAll cAt" # using same key word for all methods

In [5]:
print(str.capitalize()) # makes first word capital

Apple ball cat

# Uncapitliaze

In [6]:
print(str.casefold()) # removes any capital

apple ball cat

# count

In [11]:
print(str.count("a")) # counts the number of values

3

# endswith

In [13]:
print(str.endswith("cat")) # if it ends with specific value then it is true

True

# string find

In [15]:
print(str.find("cat")) # returns the index of first occurrence of the substring (if found). If not found, it returns -1

11

# string Format

In [16]:
print("Hello {}, your balance is {}.".format("Adam", 230.2346))

Hello Adam, your balance is 230.2346.

# alpha numeric | alpla | numeric | digits |decimals

In [19]:
str1 ="apple1" ; str2 ="apple 1"

# accepts alphabets and numbers
print(str1.isalnum())# true 
print(str2.isalnum()) # false

True
False

In [21]:
# only accepts alphabets
print(str.isalpha()) #false
print(str1.isalpha())# true 
print(str2.isalpha())# false

False
False
False

In [25]:
# The isascii() method returns True if all the characters are ascii characters  (A-z)(0-9)(special chars also)
print(str.isascii())

True

In [26]:
# The isdecimal() method returns True if all the characters are decimals (0-9).
print(str.isdecimal())

False

In [29]:
# The isdigit() method returns True if all the characters are digits, like Â² also
str3="123"
print(str3.isdigit())

False

# identifier (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

In [32]:
str4 ="apple_123"
print(str.isidentifier())
print(str4.isidentifier())

False
True

In [33]:
print(str4.translate(a,b))

NameError: name 'a' is not defined

# Replace

In [35]:
str6 = "my , name is billa"
print(str6.replace("billa", "howla"))

my name is howla

# split

In [41]:
print(str6.split())
print(str6.split("a"))
print(str6.split(","))

['my', 'name', 'is', 'billa']
['my n', 'me is bill', '']
['my name is billa']

# Strip.  Remove spaces at the beginning and at the end of the string:

In [42]:
str7 = "      amazin.      "
print(str7.strip())

amazin.

In [47]:
# zfill

<class 'str'>

TypeError: 'str' object is not an iterator